//  ================================================================================================
//  ? TIP:  It is recommended to use this file for overriding component variables.
//  ================================================================================================
// For collapse-title
[class*='collapse-'] {
    .collapse-title {
      font-weight: 500;
      font-size: 1.3rem;
      color: #7367f0;
    }
  }
  